services:
  db:
    image: postgres:16-alpine
    container_name: library_db
    environment:
      POSTGRES_DB: library_management_app
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: library_backend
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql://postgres:admin@db:5432/library_management_app
    ports:
      - "8000:8000"

  frontend:
    build: ./frontend
    container_name: library_frontend
    depends_on:
      - backend
    ports:
      - "5173:80"

volumes:
  pgdata:
